$button-padding               ?= 3px 16px
$button-font-weight           ?= 500
$button-shadow                ?= $shadow-2
$button-transition            ?= .12s ease-in

$layout-header-shadow      ?= $shadow-4
$layout-footer-shadow      ?= $shadow-up-4
$layout-aside-background   ?= $primary
$layout-aside-right-width  ?= 300px

$toolbar-color              ?= white
$toolbar-background         ?= $primary
$toolbar-title-font-size    ?= 18px
$toolbar-title-font-weight  ?= 500
$toolbar-padding            ?= 4px 12px
$toolbar-title-padding      ?= 0 12px
$toolbar-min-height         ?= 50px

$tabs-padding                  ?= 6px 12px
$tabs-min-height               ?= 48px
$tabs-background               ?= $toolbar-background
$tabs-font-size                ?= 1rem // 16px
$tabs-font-weight              ?= 500
$tabs-text-transform           ?= uppercase
$tabs-color                    ?= $toolbar-color
$tabs-unselected-opacity       ?= .7
