.c-layout
    width 100%
    min-height 100vh

.c-layout-header
    box-shadow $layout-header-shadow

.c-layout-footer
    box-shadow $layout-footer-shadow

.c-layout-backdrop
  z-index ($z-fixed-side - 1)
  background $dimmed-background

.c-layout-aside
    position absolute
    top 0
    bottom 0
    background $layout-aside-background

    &.on-top
        z-index $z-fixed-side

.c-layout-aside-right
    right 0
    width $layout-aside-right-width