.c-layout
    width 100%
    min-height 100vh

.c-layout-header
    box-shadow $layout-header-shadow

.c-layout-footer
    box-shadow $layout-footer-shadow

.c-layout-backdrop
  z-index ($z-fixed-side - 1)
  background $dimmed-background

.c-layout-aside
    position absolute
    top 0
    bottom 0
    background $layout-aside-background
    // color #9D9D9D
    color #fff

.with-layout-side-opened .c-layout-aside
    box-shadow 0px 10px 50px rgba(0, 0, 0, .6)

    &.on-top
        z-index $z-fixed-side

.c-layout-aside-right
    right 0
    width $layout-aside-right-width

.c-layout-aside ul li
    display block
    height 50px
    line-height 50px
    background rgba(0, 0, 0, .2)
    border-top 3px solid rgba(0, 0, 0, .2)
    padding-left 20px
    position relative
    overflow hidden
    transition all .2s ease
    & i
        margin-right 16px 
