.c-button
    display inline-flex
    align-items center
    justify-content center
    outline 0
    border 0
    vertical-align 0
    cursor pointer
    appearance button
    padding $button-padding
    font-weight $button-font-weight
    text-decoration none
    color inherit
    background transparent
    box-shadow $button-shadow
    transition $button-transition
    text-transform uppercase

.c-button-
    &flat
        box-shadow none !important