.fixed,
.fullscreen,
.fixed-top,
.fixed-bottom
    position fixed

.fixed-bottom
    right 0
    bottom 0
    left 0

.fixed-top
    right 0
    top 0
    left 0

.fullscreen
    top 0
    right 0
    bottom 0
    left 0